

.profileDetails{
     padding-left:20px;
}



.orders {
    padding-top: 0;
    padding: 2.5%;
    height: 75vh;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 2.5%;
}


.order {
    display: flex;
    justify-content: space-between;
    /* fixed height for all tiles */
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    max-width: 500px;

    overflow: hidden;
    /* clip any overflowing children */
    padding: 2.5%;
    gap: 5%;
    /* background-color: lightgray;  */
    border-color: lightgray;
    /* border-style: solid; */
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    /* justify-content: center;
    text-align: left; */
    /* align-items: end; */
    transition: 0.15s;

}


.order:hover {
  cursor: pointer;
}

.order:active {
  transform: scale(0.9);
  /* slightly shrink to give a pressed feel */
  background-color: rgba(0, 0, 0, 0.05);
  /* subtle feedback */
  cursor: default;
}